body {
  background: #f4f6fa;
  font-family: "Segoe UI", "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
